<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   <title>Weekend Challenge #1 Remix featuring angular</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
   <script src="jquery-3.1.1.min.js" charset="utf-8"></script>
   <script src="app.js" charset="utf-8" ></script>
   <link rel="stylesheet" href="style.css" media="screen">
</head>
  <body>
    <main ng-app="basicApp">
      <section ng-controller="BasicController as basic">

        <h1>Company Name Here</h1>
        <h2>Employee Information</h2>
        <form class="employee-info">
          <P>
            <label for="first_name">First Name:</label>
            <input type="text" class="emptySpace" id="employee-first-name" ng-model="basic.employee.first_name" />
          </p>
          <p>
            <label for="last_name">Last Name:</label>
            <input type="text" class="emptySpace" id="employee-last-name" ng-model="basic.employee.last_name" />
          </p>
          <p>
            <label for="employee_id">Employee Id:</label>
            <input type="text" class="emptySpace" id="employeeId" ng-model="basic.employee.employee_id" />
          </p>
          <p>
            <label for="job_title">Job Title:</label>
            <input type="text" class="emptySpace" id="jobTitle" ng-model="basic.employee.job_tittle" />
          </p>
          <p>
            <label for="salary">Salary $:</label>
            <input type="text" class="emptySpace" id="salary" ng-model="basic.employee.salary" />
          </p>
          <p>
            <button type="submit" ng-click="basic.createEmployee()"id="theButton">Submit</button>
          </p>
        </form>
        <div>because this looks cool </div>
        <p id="because this looks cool">
          {{basic.employee.first_name}} {{basic.employee.last_name}}
          {{basic.employee.employee_id}} {{basic.employee.job_tittle}}
          {{basic.employee.salary}}
        </p>
        <div id="employee-data">
          <h3>Employee Data</h3>
          <ul>
            <li ng-repeat="employee in basic.employees">
              {{employee.first_name}} {{employee.last_name}}:
              {{employee.employee_id}}: {{employee.job_tittle}}:
              {{employee.salary}}
            </li>
          </ul>
        </div>
        <div id="totalSalary">
          <h4> </h4>
          <p id="montext">Monthly Salary Expenditures</p>
          <p id="result"></p>
        </div>
      </selction>
    </main>
  </body>
</html>
