html, body {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  color: #325050;
  background: #fff;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 100%;
}

h2, h3, h4 {
  text-decoration: underline;
}

h1 {
  padding: 5%;
  margin: 0;
  border-style: solid;
   border-color: #4CAF50;
   background-color: #4CAF50;
   color: white;
}

h2, h3 {
  font-size: 125%;
}

input[type=text] {
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

#theButton {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#theButton:hover {
    background-color: #3e8e41;
}

#theButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table, th, td {
   border: 1px solid black;
}

table {
  width:70%;
  margin-left:20%;
  margin-right:20%;
}

tr:hover {
  background-color:#f5f5f5
}

th {
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.btnDelete {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnDelete {
    background-color: white;
    color: black;
    border: 2px solid #4CAf50;
}

.btnDelete:hover {
    background-color: #4CAF50;
    color: white;
}

#montext {
  border-bottom: solid;
  border-color: #4CAF50;
  font-weight: bold;
}
